/* Compact menu */
#menuNarrow
    display none !important

/* Normal menu */
#menuWide
    display block !important

/* Wrapper */
td[width='275'][style='width: 20px;']
    width 275px !important

/* Toggler */
#menuWide > div[onclick]
    display none
