body
    font 300 15px / 1.4 sans-serif
    user-select none
    -webkit-user-drag none
    background none
    cursor default

button, input,textarea
    font inherit
    font-family inherit !important

:focus
    outline none

