@-moz-document domain( 'www.fatsecret.ru' )

    @import 'parts/variables'
    @import 'parts/normalize'
    @import 'parts/typography'
    @import 'parts/common'

    @import 'parts/header'
    @import 'parts/navigation'
    @import 'parts/content'
