@-moz-document domain( 'www.fatsecret.ru' ), domain( 'www.fatsecret.com' )

    @import 'parts/variables'
    @import 'parts/normalize'
    @import 'parts/typography'
    @import 'parts/common'

    @import 'parts/header'
    @import 'parts/navigation'
    @import 'parts/content'
