#navWrapper
    height 30px !important

.header-post11 + .content-section
    top 61px

.hub-nav-structure
    display flex

.hubs-section-nav
    position relative !important
    top 4px !important
    left 0 !important

