body
input
button
textarea
select
.workitem-info-bar
    font-family sans-serif !important

.header-post11 .hub-groups-section,
.ui-tabs .ui-tabs-nav
    text-transform none

.workitem-info-bar div.info-text-wrapper
    font-size 14px

