@-moz-document domain( 'www.drebedengi.ru' )

    @import 'parts/variables'
    @import 'parts/common'
    @import 'parts/normalize'

    @import 'parts/menu'
    @import 'parts/planning'
    @import 'parts/tabs'
    @import 'parts/tags'
