.footerPanel
    display none

.MyFSHeaderFooterAdditional,
.dottedBox.main.solid,
table.greybox
    /* SOURCE hsl(90, 22%, 93%)*/
    background hsla( 0, 0%, 0%, .05)
    border-radius 4px

.MyFSHeaderFooterAdditional
    margin-top 20px

.dottedBox
    border none !important

.MyFSHeader
    display none

/* BACKGROUND*/
body
.mainContent
#content
    background-color $main-bg

.main.widget
.MyFSHeaderFooterAdditional
    whitebox()

.dottedBox.main div.vr
    border-left none
    box-shadow .05em 0 0 0 $thin-border-color inset
    width 1px
