.topBandLoggedIn
    position absolute
    width 100%
    background none
    z-index 1
    pointer-events none

.topBand
    color inherit !important

.topBandLoggedIn a
    color #028CC4
    pointer-events all

.logoContent
    height auto !important

.menuLogo
    width 66%

.menuLogoCell a img
    width 107px
    height 25px
    margin 4px 0 0 !important

.menuAllThings
    font-size 8px

form[action^='Diary']
    background #33B34B

.logoPanel,
.menuContent
    background none
