@-moz-document domain( 'tfs' )

    @import './parts/variables'
    @import './parts/normalize'
    @import './parts/typography'
    @import './parts/common'

    @import './parts/header'
    @import './parts/panes'
    @import './parts/progress'

